
@{
    ViewData["Title"] = "Sucesso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Parabéns sua conta foi criada com sucesso! <a href="../Usuario/Login"> Clique aqui</a> para efetuar login</h1>

